.news_list_style{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.news_list_style h1{
    margin: 0;
    padding: 0;
}
.news_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.search input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid black;
}

